body {
    background-color: #FFB800;
  }
  
  dikdik {
    position: absolute;
    width: 238px;
    height: 38px;
    left: 177px;
    top: 404px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;

    color: #542500;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  h2 {
      /* DIKDIK IS HERE */
    position: absolute;
    width: 238px;
    height: 38px;
    left: 177px;
    top: 404px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;

    color: #542500;
  }

  ass {
    position: absolute;
    width: 239px;
    height: 24px;
    left: 177px;
    top: 290px;

    font-family: Lato;
    -style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;/* identical to box height */
    color: #542500;
  }

  intro {
    position: absolute;
    width: 499px;
    height: 54px;
    left: 177px;
    top: 453px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
    color: #542500;
  }

  hiasan {
    position: absolute;
    width: 532px;
    height: 43px;
    left: 951px;
    top: 615px;
    
    background: #542500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
  }

  foto {
    width: 100%;
    height: 482px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 901px;
    top: 133px;
    
    background-image: url("cv6.png");
  }

  hiasan2 {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 1013px;
    top: 520px;
    
    background: #542500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
  }

  navbar {
    position: absolute;
    width: 1236px;
    height: 59px;
    left: 102px;
    top: 31px;
    
    background: #DFE0DF;
    border-radius: 53px;
  }

  home {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 514px;
    top: 47px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #542500;
  }

  project {
    position: absolute;
    width: 63px;
    height: 24px;
    left: 689px;
    top: 46px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #542500;
  }

  about {
    position: absolute;
    width: 55px;
    height: 24px;
    left: 873px;
    top: 46px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #542500;
  }

  logo {
    position: absolute;
    width: 76px;
    height: 38px;
    left: 139px;
    top: 41px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    
    color: #542500;
    
    text-shadow: 1px 1px 0px #006E61, 2px 2px 0px #FFB800;
  }

  but {
    position: absolute;
    width: 196px;
    height: 42px;
    left: 1129px;
    top: 39px;
    
    background: #006E61;
    border-radius: 53px;
  }

  contact {
    position: absolute;
    width: 196px;
    height: 21px;
    left: 1129px;
    top: 49px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #DFE0DF;
  }

  instagram {
    position: absolute;
    width: 175px;
    height: 37px;
    left: 177px;
    top: 597px;
    
    background: #006E61;
    border-radius: 10px;
  }

  ig {
    position: absolute;
    width: 175px;
    height: 22px;
    left: 177px;
    top: 604px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    text-align: center;
    
    color: #DFE0DF;
  }

  download {
    position: absolute;
    width: 175px;
    height: 37px;
    left: 484px;
    top: 597px;
    
    border: 1px solid #006E61;
    box-sizing: border-box;
    border-radius: 10px;
  }

  resume {
    position: absolute;
    width: 171px;
    height: 22px;
    left: 484px;
    top: 604px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    text-align: center;
    
    color: #006E61;
  }

  lanjutan {
    position: absolute;
    width: 1445px;
    height: 750px;
    left: 1400px;
    top: 0px;
    
    background: #006E61;
  }

  p1 {
    position: absolute;
    width: 512px;
    height: 120px;
    left: 1617px;
    top: 39px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    
    color: #FFB800;
  }

  p2 {
    position: absolute;
    width: 519px;
    height: 120px;
    left: 1517px;
    top: 192px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #C4C4C4;
  }

  p3 {
    position: absolute;
    width: 497px;
    height: 96px;
    left: 1627px;
    top: 345px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    
    color: #FFB800;
  }

  dear {
    position: absolute;
    width: 97px;
    height: 24px;
    left: 1517px;
    top: 486px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    
    
    color: #FFFFFF;
  }

  hope {
    position: absolute;
    width: 254px;
    height: 36px;
    left: 1517px;
    top: 539px;
    
    font-family: Liu Jian Mao Cao;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    
    
    color: #FFFFFF;
  }

  foot {
    position: absolute;
    width: 296px;
    height: 54px;
    left: 1725px;
    top: 637px;
    
    background: #C4C4C4;
    border-radius: 53px;
  }

  jabar {
    position: absolute;
    width: 296px;
    height: 23px;
    left: 1725px;
    top: 653px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #542500;
  }

  foto2 {
    height: 750px;
    left: 2282px;
    top: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image: url(IMG-7441.jpg);
  }

  q1 {
    position: absolute;
    width: 384px;
    height: 58px;
    left: 2979px;
    top: 104px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    
    color: #542500;
  }

  q2 {
    position: absolute;
    width: 484px;
    height: 58px;
    left: 3121px;
    top: 292px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    
    text-align: right;
    
    color: #542500;
  }

  q3 {
    position: absolute;
    width: 484px;
    height: 174px;
    left: 2979px;
    top: 480px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    color: #542500;
  }