<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="cari" placeholder="masukan kata kunci">
        <ul v-for="mtk in booksfilter">
            <li>
                {{ mtk.matkul }}
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
          el: "#app",
          data: {
            cari: "",
            items: [
              {matkul: "Kalkulus Dasar"},
              {matkul: "Fisika Dasar"},
              {matkul: "Aljabar Linear Elementer"},
              {matkul: "Aljabar Abstrak"},
              {matkul: "Algoritma Pemrograman"}
            ]
          },
          computed: {
            booksfilter: function(){
                return this.items.filter((mtk)=>{
                    return mtk.matkul.match(this.cari)
                })
            }
          }
        })
      </script>
</body>
</html>