<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <h2>Daftar Nama:</h2>
    <input type="text" v-model:value="newTask" /> <button @click="addTask">Add</button>
    <!-- <input type="text" v-else="enable" v-model="inputDataBarang.idBarang" /> <button @click="doneTask">Done</button> -->
    <ul>
        <li v-for="item in users">
            <b>{{ item.task }} <button @click="updateTask">Edit</button> || <button @click="deleteTask">Hapus</button> </b>  
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newTask: "",
        users: [
            {'task': "Muhamamd Iqbal Mubarok", 'enable' : false},
            {'task': "Ruby Purwanti", 'enable' : false},
            {'task': "Faqih Muhamad", 'enable' : false},
            {'task': "Rayhan Murtaza", 'enable' : false},
        ],
      },
      methods: {
          addTask: function(){
              this.users.push({'task': this.newTask, 'enable' : false});
              this.newTask = "";
          },
          updateTask: function(nama){
              this.enable=true;
              this.index = this.users.indexOf(nama);
              this.inputUsers.task = users.nama;
          },
          doneTask: function(nama){
            this.users[this.index].nama = nama.nama;
          },
          deleteTask: function(nama) {
            var result = confirm('Anda ingin menghapus data nama ?');
            if (result) {
            this.index = this.users.indexOf(nama);
            this.users.splice(this.index, 1);
            }
          }
      }
    })
  </script>
</body>

</html>